<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h4 class="compHeader rounded">Timeline</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-xs-10 col-lg-10 align-middle">
        Perusing Nursery Teacher’s Training, tentative completion by 2020 From International Montessori & Nursery Teacher’s Training (NTT) Academy 
        <a href = "https://www.academyofexcellenceinternational.com/">https://www.academyofexcellenceinternational.com/</a>            
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 align-middle">
        <img [src]="nttSymbolPath" alt="ntt" class="symbol img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-xs-4 col-lg-4 align-middle">
        <img [src]="universityPicPath" alt="universityPic" class="symbol img-fluid">       
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 align-middle">
        <img [src]="universitySymbolPath" alt="universitySymbol" class="symbol img-fluid">
    </div>
    <div class="col-md-6 col-xs-6 col-lg-6 align-middle">
        Masters in Arts (M.A.)  Specialization in Bengali From Rabindra Bharati University With 50.25% Spanning 
        <div>October 2010 - July 2012</div> 
    </div>
</div>
<div class="row">    
    <div class="col-md-6 col-xs-6 col-lg-6 align-middle">
        Bachelor in Arts [B.A. Honours.] Specialization in Bengali From University of Calcutta With 48% Spanning 
        <div>July 2007 –  July 2010</div> 
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 align-middle">
        <img [src]="CollegeSymbolPath" alt="CollegeSymbol" class="symbol img-fluid">
    </div>  
    <div class="col-md-4 col-xs-4 col-lg-4 align-middle">
        <img [src]="CollegePicPath" alt="CollegePic" class="symbol img-fluid"> 
    </div>  
</div>
<div class="row">
    <div class="col-md-5 col-xs-5 col-lg-5 align-middle">
        10th Secondary From Subhasini Balika Shikhyalaya West Bengal Board [W.B.B.S.E.] With 64.75% Spanning 
        <div>June 2004- June 2005</div>  
    </div>
    <div class="col-md-2 col-xs-2 col-lg-2 align-middle">
        <img [src]="SchoolPicPath" alt="SchoolPic" class="symbol img-fluid">
    </div>
    <div class="col-md-5 col-xs-5 col-lg-5 align-middle">
        12th Higher Secondary From Subhasini Balika Shikhyalaya West Bengal Board [W.B.C.H.S.E.] With 59.8% Spanning 
        <div>June 2005 – June 2007</div> 
    </div>
</div>