<div class="row">
    
    <div class="col-md-6">
        <img [src]="mailSymbolPath" alt="gMail" class="symbol">
        <a href = "mailto:sumiliadeyghosh@gmail.com?subject = Contact&body = Hello, I want to contact regarding something important!">
            sumiliadeyghosh@gmail.com
        </a>
    </div>
    <div class="col-md-6">
        <img [src]="phoneSymbolPath" alt="Mobile" class="symbol">
        <a href = "tel:+919874320320">
            +91 9874320320
        </a>
    </div>
</div>
