<div class="row">    
    <div class="col-md-4 col-xs-4 col-lg-4 text-center">
        <div>
            <img [src]="profilePicPath" alt="profilePic" class="symbol rounded-circle img-fluid">
        </div>
        <div>
            <h3 class="name">Sumilia Dey Ghosh</h3>
        </div>
    </div>
    <div class="col-md-8 col-xs-8 col-lg-8 align-middle">
        <div>
            <img [src]="mailSymbolPath" alt="gMail" class="symbol img-fluid">
            <a href = "mailto:sumiliadeyghosh@gmail.com?subject = Contact&body = Hello, I want to contact regarding something important!">
                sumiliadeyghosh@gmail.com
            </a>
        </div>
        <div>
            <img [src]="phoneSymbolPath" alt="Mobile" class="symbol img-fluid">
            <a href = "tel:+919874320320">
                +91 9874320320
            </a>
        </div>
        <div>            
            <a href = "https://www.linkedin.com/in/sumilia-dey-ghosh-355ba1189/">
                <img [src]="linkedinPath" alt="linkedin" class="symbol img-fluid">
                https://www.linkedin.com/in/sumilia-dey-ghosh-355ba1189/
            </a>
        </div>
        <div>            
            <a href="/assets/files/Resume_Sumilia_9874320320.pdf" target="_self" download="Resume_Sumilia_9874320320.pdf">Download my Resume</a>
        </div>
    </div>
</div>
<div class="row">    
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h4 class="title rounded">Teacher</h4>
    </div>
</div>
