<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h4 class="compHeader rounded">Interests</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-xs-3 col-lg-3 align-middle">
        <img [src]="shoppingPicPath" alt="shopping" class="symbol img-fluid">
    </div>
    <div class="col-md-3 col-xs-3 col-lg-3 align-middle">
        <img [src]="travellingPicPath" alt="travelling" class="symbol img-fluid">
    </div>
    <div class="col-md-3 col-xs-3 col-lg-3 align-middle">
        <img [src]="readingPath" alt="reading" class="symbol img-fluid">
    </div>
    <div class="col-md-3 col-xs-3 col-lg-3 align-middle">
        <img [src]="musicPicPath" alt="music" class="symbol img-fluid">
    </div>  
    <div class="col-md-3 col-xs-3 col-lg-3 align-middle">
        <img [src]="kidsPicPath" alt="kids" class="symbol img-fluid">
    </div>
    <div class="col-md-3 col-xs-3 col-lg-3 align-middle">
        <img [src]="paintingPicPath" alt="painting" class="symbol img-fluid">
    </div>  
</div>