<div class="objective">I would like to have the opportunity to groom my career towards professional</div>
<br>
<div>I want to start my career to be independent in decision making and contribute same to my family. 
    I am inspired by my husband and understand about my child is going to learn the same I talk, live, 
    act each and every time. I have pursued my NTT teachers training  for my daughter to train her 
    into better future. But that alone is not sufficient to mould her into a complete human being. 
    She needs to see and learn naturally from her parent. And I decided to mould my life towards professional.</div>
