<div class="container pt-3">
    <div class="row">    
        <div class="col-xs-12 col-md-12">
            <app-header></app-header>
        </div>
        <div class="col-xs-12 col-md-12">
            <app-careerobjective></app-careerobjective>
        </div>        
        <div class="col-xs-12 col-md-12">
            <app-education></app-education>
        </div>        
        <div class="col-xs-12 col-md-12">
            <app-certificates></app-certificates>
        </div>        
        <div class="col-xs-12 col-md-12">
            <app-language></app-language>
        </div>        
        <div class="col-xs-12 col-md-12">
            <app-hobby></app-hobby>
        </div>        
        <div class="col-xs-12 col-md-12">
            <app-aboutme></app-aboutme>
        </div>        
    </div>
</div>