<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h4 class="compHeader rounded">Certificates</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-xs-2 col-lg-2 align-middle">
        <img [src]="certSymbolPath" alt="ntt" class="symbol img-fluid">
    </div>
    <div class="col-md-10 col-xs-10 col-lg-10 align-middle">
        <ol>
            <li>Diploma in Computer Application from RCLD in 2014</li>
            <li>Institute of Preventive awareness in Association with Institute of General Health & Hygiene</li>
        </ol>            
    </div>    
</div>